.github/workflows/*.lock.yml linguist-generated=true merge=ours
Changelog.md merge=union

.gitattributes text eol=lf
package.json text eol=lf
scripts/prebuild.mjs text eol=lf
scripts/validate-core-version.mjs text eol=lf
scripts/validate-service-helper-branding.mjs text eol=lf
src-tauri/Cargo.toml text eol=lf
src-tauri/tauri.conf.json text eol=lf
src/assets/styles/index.scss text eol=lf
src/assets/styles/layout.scss text eol=lf
src/assets/styles/page.scss text eol=lf
src/components/base/base-page.tsx text eol=lf
src/components/layout/layout-item.tsx text eol=lf
src/pages/_layout.tsx text eol=lf
src/pages/_layout/hooks/use-custom-theme.ts text eol=lf
src/pages/_theme.tsx text eol=lf
src/pages/connect.tsx text eol=lf
src/pages/plans.tsx text eol=lf
src/services/api.ts text eol=lf
